.s3-dropzone-button-content {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  line-height: 18px;
}

.s3-dropzone-button-wrapper {
  
}

.s3-dropzone-button {
  font-size: 14px;
  color: #fff;
  background-image: linear-gradient(0deg, #4ba8ff 0, #6cb8ff 100%);
  box-shadow: 0 1px 1px 0 rgba(109,133,158,0.5);
  align-items: center;
  border: 1px solid #3b99f0;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0;
  text-align: center;
  user-select: none;
  padding: 2px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 40px;
}

.s3-dropzone-button:hover {
  background-image: linear-gradient(0deg, #6cb8ff 0, #6cb8ff 100%);
  box-shadow: 0 2px 1px 0 rgba(155,172,191,0.5);
}

.s3-dropzone-button-input {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  height: 100%;
  margin: 0 -4px 0 0;
  padding-left: 10px;
  width: 100%;
  border: 1px solid #d8e0ea;
  border-radius: 5px;
  box-sizing: border-box;
  color: #4c6072;
  display: inline-block;
  font-family: 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 8px;
  transition: border-color 150ms ease-out;
  height: 40px;
  &:focus {
    outline: 0;
  }
}

.s3-dropzone-input-group {
  align-items: center;
  display: inline-flex;
  flex-basis: 60%;
}