.s3-dropzone-button-content {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  line-height: 18px;
}

.s3-dropzone-button-wrapper {
  
}

.s3-dropzone-button {
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  background-image: linear-gradient(0deg, #4ba8ff 0, #6cb8ff 100%);
  box-shadow: 0 1px 1px 0 rgba(109,133,158,0.5);
  align-items: center;
  border: 1px solid #3b99f0;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0;
  text-align: center;
  user-select: none;
  padding: 2px 20px;
}

.s3-dropzone-button:hover {
  background-image: linear-gradient(0deg, #6cb8ff 0, #6cb8ff 100%);
  box-shadow: 0 2px 1px 0 rgba(155,172,191,0.5);
}