.s3-dropzone {
  width: 100%;
  height: 100%;
  padding: 5% 0 5% 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  border-radius: 6px;
}

.s3-dropzone.drag {
  border-color: #ccc;
  background: #dbdbdb;
  background-image: -webkit-linear-gradient(-45deg,#d2d2d2 25%,transparent 25%,transparent 50%,#d2d2d2 50%,#d2d2d2 75%,transparent 75%,transparent);
  background-image: linear-gradient(-45deg,#d2d2d2 25%,transparent 25%,transparent 50%,#d2d2d2 50%,#d2d2d2 75%,transparent 75%,transparent);
  background-size: 40px 40px
}

.s3-dropzone-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.s3-dropzone-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
  grid-auto-rows: minmax(100px, 100%);
  /* overflow: scroll; */
  grid-gap: 15px 15px;
}

.s3-dropzone-grid-view {
  width: 100%;
  height: 100%;
}

.s3-dropzone-grid .after, 
.s3-dropzone-grid .before {
  @extend .s3-dropzone-column;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  svg {
    fill: $blue;
    width: 36px;
    height: 36px;
  }

  &:hover {
    background-color: $white;
    svg {
      fill: $ultramarine;
    }
  }

  &:disabled {
    background-color: #fff;
    svg {
      fill: $white;
    }
  }

}

.s3-dropzone-grid .after {
  grid-column-start: 5;
  grid-row-start: 1;
  /*grid-row-end: span 2;*/
  svg {
    transform: translateX(-5px);
  }
}


.s3-dropzone-grid .before {
  grid-column-start: 1;
  grid-row-start: 1;
  /*grid-row-end: span 2;*/
  svg {
    transform: translateX(5px);
  }
}

.s3-dropzone-grid-view .after,
.s3-dropzone-grid-view .before {
  visibility: hidden;
}