.s3-dropzone {
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.s3-dropzone.drag {
  border-color: #ccc;
  background: #dbdbdb;
  background-image: -webkit-linear-gradient(-45deg,#d2d2d2 25%,transparent 25%,transparent 50%,#d2d2d2 50%,#d2d2d2 75%,transparent 75%,transparent);
  background-image: linear-gradient(-45deg,#d2d2d2 25%,transparent 25%,transparent 50%,#d2d2d2 50%,#d2d2d2 75%,transparent 75%,transparent);
  background-size: 40px 40px
}

.s3-dropzone-grid {
  display: grid;
  grid-template-columns: 1fr 10fr 10fr 10fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  height: calc(100% - 100px);
}

.s3-dropzone-grid-view {
  height: calc(100% - 30px);
}

.s3-dropzone-grid-view .s3-dropzone-thumbnail {
  grid-column-end: 5;
  grid-row-end: 3;
}

.s3-dropzone-grid .after, 
.s3-dropzone-grid .before {
  @extend .s3-dropzone-column;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  svg {
    fill: #9bacbf;
    width: 36px;
    height: 36px;
  }

  &:hover {
    background-color: #f4f9fd;
    svg {
      fill: #4ba8ff;
    }
  }

  &:disabled {
    /* background-color: #fff; */
    svg {
      fill: $white;
    }
  }

}

.s3-dropzone-grid .after {
  grid-column-start: 5;
  grid-row-start: 1;
  svg {
    transform: translateX(-5px);
  }
}


.s3-dropzone-grid .before {
  grid-column-start: 1;
  grid-row-start: 1;
  svg {
    transform: translateX(5px);
  }
}

.s3-dropzone-grid-view .after,
.s3-dropzone-grid-view .before {
  visibility: hidden;
}