$white: #F7F8FA;
$ultramarine: #4706E2;
$blue: #B1B7D1;
$grey: #9B9FB5;

@import './mixins.scss';
@import './modal.scss';
@import './button.scss';
@import './spinner.scss';
@import './dropzone.scss';
@import './thumbnail.scss';


.s3-dropzone-hidden {
  visibility: hidden;
}