.s3-dropzone-modal {
  width: 600px;
  /* flex: 0 1 auto;*/
  display: flex;
  position: relative; 
  /* overflow-y: auto; */
  flex-direction: column;
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  /* border: 1px solid #ecf3f8; */
  border-radius: 5px;
}

.s3-dropzone-modal-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1300;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.s3-dropzone-modal-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  will-change: opacity;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  opacity: 0.5;
  -webkit-tap-highlight-color: transparent;
}

.s3-dropzone-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 70px;
}

.s3-dropzone-modal-header {
  background-color: #9BACBF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  flex-basis: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.s3-dropzone-oval1,
.s3-dropzone-oval2,
.s3-dropzone-oval3 {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  z-index: 5;
  margin-right: 7px;
}

.s3-dropzone-oval1 {
  background-color: #E4567B;
  &:hover {
    background-color: #EC7191;
  }
}

.s3-dropzone-oval2 {
  background-color: #F0C609;
  &:hover {
    background-color: #FFD209;
  }
}

.s3-dropzone-oval3 {
  background-color: #6FE9AA;
  &:hover {
    background-color: #87FCC0;
  }
}
