.dz-thumbnail {
  margin: 0;
  position: relative;
  overflow: hidden;
  background: transparent;
}

.dz-thumbnail-loading {
  background-color: #9bacbf;
}

.dz-thumbnail-error {
  background: #FE9DB6;
}

.dz-thumbnail-loading .dz-thumbnail-img,
.dz-thumbnail-error .dz-thumbnail-img {
  visibility: hidden;
}

.dz-thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.dz-thumbnail-overlay {
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  visibility: visible;

  .dz-thumbnail-overlay-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: calc(1/3 * 100%);
  }

  .dz-thumbnail-overlay-row:nth-child(2) {
    transform: scale(0.8);
  }
  
  .dz-thumbnail-overlay-row:nth-child(3) {
    align-items: flex-end;
  }
}

.dz-thumbnail:hover {
  .dz-thumbnail-overlay {
    justify-content: space-between;
  }
  .dz-thumbnail-img {
    filter: grayscale(50%) brightness(50%);
  }
}

.full-width {
  .dz-thumbnail-img {
    object-fit: contain;
  }
  .dz-thumbnail:hover {
    .dz-thumbnail-overlay {
      justify-content: center;
    }
  }
}


.dz-thumbnail-overlay-icon {
  margin: 5px;
  padding: 2px;
  box-sizing: border-box;
  opacity: 0.9;
  border: 0.5px solid transparent;
  cursor: pointer;
}

.dz-thumbnail-overlay-icon:hover {
  opacity: 1;
  background-color: rgba(244, 249, 253, 0.3);
}

.dz-thumbnail-error .dz-svg-icon {
  fill: #fff;
}
 
.dz-thumbnail-error .dz-thumbnail-overlay-icon:hover {
  /* border: 0.5px solid #9B9FB5; */
  /* background-color: transparent; */
}

.dz-blur {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  animation: blurDelay 1s 0s 1 ease-out normal; 
}

@keyframes blurDelay {
  from {
    filter: blur(10px)
  }
  to {
    filter: blur(0px)
  }
}

.dz-upload-icon {
  fill: #fff;
  width: 32px;
  height: 32px;
}

.dz-svg-icon {
  color: inherit;
  display: block;
}